#text {

	margin: 0 200px;

}
#fix{
	background-color: #eee;
	position: fixed;
	width: 20%;
	height:100px;
	top:0;
}
}
#relative{
	background-color: #eee;
	position: relative;
	width: 100%;
	height: 300px;
	top:0;
}
#absolute{
	background-color: #999;
	position: absolute;
	width: 20%;
	height:100px;
}
.div{
	background-color: #eee;
	position: relative;
	width: 100%;
	height: 300px;
	top:0;
}
.div-1{
	background-color: #999;
	position: relative;
	width: 210px;
	height: 130px;
	left: 80%;
	top: 63%;

}

